<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kontakt</h2>
                    <img src="img/logos/logo-2.png" class="img-responsive img-centered" alt="">
                    <h3 class="section-subheading text-muted">Du hast Fragen zu unserem Angebot? Wir freuen uns von dir zu hören!</h3>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <p class="text-muted">E-MAIL<h5><a href="mailto:info@teamjanine.de">info@teamjanine.de</h5></p>
                    <p class="text-muted">MOBIL<h5><a href="tel:+4917622573592">+49 176 2257 3592</a></h5></p>
                    <p class="text-muted">INSTAGRAM<h5><a class="text-primary text-last" href="https://www.instagram.com/team_janine_kirchheim/ " target="_blank">@team_janine_kirchheim</a></h5></p>
                    <p class="text-muted">KURSPLAN<h5><a class="text-primary text-last" href="https://www.eversports.de/widget/w/0F9rzC" target="_blank">Eversports</a></h5></p>
                    <p class="text-muted">PREISE<h5><a class="text-primary text-last" href="https://www.eversports.de/widget/w/0F9rzC?list=shop" target="_blank">Preise</a></h5></p>
                </div>
            </div>
        </div>
    </section>
