  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="Copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                    <span class="row">Homepage und Logo created by <a href="https://marcelruss.de" target="_blank">Marcel Russ</a></span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="privacy.html" target="_blank">Datenschutzerklärung</a>
                        </li>
                        <li><a href="imprint.html" target="_blank">Impressum</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
