<!-- Services Section -->
    <section id="hero-section">
        <div class="container">
            <div class="row">
                <div class="text-center">
                    <h2 class="section-heading">Willkommen beim TEAM Janine</h2>
                    <h3 class="section-subheading text-primary">WORK.out.DOOR - wo Fitness und Natur eins werden!</h3>
                </div>
            </div>
            <div class="col-lg-12 row text-center">
                    <p>Unser Outdoor Personal Training ist der perfekte Ort für alle, die nach einer abenteuerlichen und energiegeladenen Möglichkeit suchen, in Form zu kommen. Unsere zertifizierten Trainer arbeiten mit dir zusammen, um deine Fitness-Ziele zu erreichen und dir zu helfen, das Beste aus deiner körperlichen Leistungsfähigkeit herauszuholen.</p>
                    <p>Egal, ob du begeisterter Sportler oder Anfänger bist, unsere Personal Training-Einheiten werden auf deine individuellen Bedürfnisse und Fähigkeiten zugeschnitten. Lasse dich von der Schönheit der Natur inspirieren und erreiche deine Ziele in einem motivierenden und unterstützenden Umfeld.</p>
                    <p>Wir glauben, dass Fitness eine Reise ist, und wir sind hier, um dich bei jedem Schritt zu unterstützen. Von personalisierten Trainingseinheiten bis hin zu Gruppen-Workouts und Herausforderungen helfen wir dir dabei, einen nachhaltigen Lebensstil zu entwickeln, den du lieben wirst.</p>
                    <p>Werde Teil unserer Fitness-Community im Freien und erlebe die Vorteile von körperlicher Aktivität in der Natur. Kontaktiere uns heute und beginne deine Reise zu einem gesünderen und fitteren Leben!</p>
            </div>
        </div>
    </section>